[2018-09-13 15:13] beatbull opened #1 "Error when handling column names which use reserved keywords"
Thanks for working on a spark connector for Exasol. It works well so far. Though I stumbled on an issue regarding reserved keywords. If the query is returning a column, which is a reserved keyword in Exasol (e.g. "CONDITION" in the example below), I get following stacktrace:
[code]
In the query it doesn't matter whether the column is referenced via `"CONDITION"` (proper escaping via quotes) or wit

[2018-09-13 15:27] morazow commented on #1
Hello @beatbull ,

Thanks for reporting this! Please keep providing your feedback!

I am going to add this as todo for time being. The connector does not obey the quoting yet; they are put as plain Scala strings when doing column-pruning.

[code]

However, I am going to look into it in the coming weeks.

[2018-09-14 06:11] beatbull commented on #1
Hello @morazow ,

thanks for the quick response. Indeed the snippet you posted is causing the issue with the reserved keywords - qouting the columns or prefixing them with a table alias (e.g. `columns.map(col => s"a.$col").mkString(", ")` in combination with a table alias in the query) would fix the issue easily.

[2018-09-14 09:43] beatbull commented on #1
I could also push a PR but seems I lack permissions to do so.

[2018-09-14 22:08] morazow commented on #1
Hello @beatbull,

Thanks for the proposal! The pull requests are very much welcome!

I will check and ask to update the permissions if people cannot send a pull request.

Meanwhile, I have pushed a [branch](https://github.com/EXASOL/spark-exasol-connector/tree/task/column-quotes) with your proposal of adding a prefix to selected columns.

Please let me know if that solves your issue.

[2018-09-17 06:45] beatbull commented on #1
Hi @morazow ,

I tried the suggested fix, it works fine when using reserved keywords as column names in queries. Thanks for the quick fix.

[2018-09-17 07:42] morazow opened #2 "[PMI-80]: Add predicate pushdown"
Using Spark Query Optimizer (Catalyst) information, create a where clause for the user query using Spark filters.

[2018-09-17 07:43] morazow opened #3 "[PMI-81]: Add jar publishing (releasing)"
The versioned jar file should be released to Exasol artifactory. This should enable users to use the connector without building the jar themselves.

Contact person: Christian Keller

This will require update on sbt setup.

However, challenge this topic on why we cannot release to for example bintray, sonatype or maven central.

[2018-09-17 07:45] morazow opened #4 "[PMI-82]: Enable configuration parameter on SparkConf"
Connector related configuration parameters should be possible set on SparkConf. 

For example,
[code]

[2018-09-17 07:45] morazow opened #5 "[PMI-83]: Enable user provided schema"
User provides a `schema` (StructType) to datasource with option `.option("schema", schemaStruct)` or `.schema(schemaStruct)` when reading so that the connector does not have to infer (jdbc call to Exasol) the schema of user provided query.

For this, DefaultSource should extend [SchemaRelationProvider](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/sources

[2018-09-17 07:51] morazow commented on #1
Hey @beatbull ,
Great to hear it works! Please let us know if there are any issues!

I am going to close this issue and merge other branches to master.

[2018-09-17 07:51] #1 closed

[2018-09-21 21:02] #2 closed

[2018-09-21 22:11] #3 closed

[2018-10-02 15:09] 3cham opened #9 "Could not establish slave connection to exasol cluster"
Hi, firstly many thanks for working on this project.  However when I tested with our exasol cluster, I could not perform a simple count() on the dataframe.

I saw that the schema was inferred correctly:
[code]

However the operation using exa-slave connection could not be performed successfully.
[code]
Tested using:
- spark 2.3.0
- scala 2.11.8
- ubuntu

I could successfully run a separated test f

[2018-10-02 15:31] morazow commented on #9
Hello @3cham ,

Thanks for the feedback!

Yes, this might be one of the known issues. I have had similar problem for instance when doing `.show(10, false)`.

This happens when a Spark `Task` is re-started again. Each task is assigned a single sub connection and once the Task is finished the sub-connection is closed.

https://github.com/EXASOL/spark-exasol-connector/blob/master/src/main/scala/com/e

[2018-10-02 23:03] morazow opened #12 "Add tests for Unicode strings in predicate pushdown"
Given a predicate condition from Spark with Unicode string value check that it correctly reads from Exasol.

#### UnitTest

[code]

#### IntegrationTest

Create a table with a unicode values in Exasol docker and assert that we can read it correctly.

The integration test can be combined with other integration tests.

[2018-10-02 23:05] morazow opened #13 "Add tests for date and timestamp in predicate pushdown"
Given a predicate condition from Spark with date or datetime values check that we can correctly read them from Exasol.

#### UnitTest

[code]

#### IntegrationTest

Create a table with a date / datetime values in Exasol docker and assert that we can read them correctly.

The integration test can be combined with other integration tests.

[2018-10-02 23:08] morazow opened #14 "Reserved keywords as column names cannot be used in generated where clause"
Currently it is not possible to generate where clause in predicate pushdown if there are any column names as reserved keyword.

For example, `WHERE CONDITION < 5 ...`, this is going to fail currently.

[2018-10-02 23:16] morazow opened #15 "Add tests for type conversions"
Create a table in Exasol with all possible data types and assert that we can read different column types in Spark.

[2018-10-04 08:37] 3cham commented on #9
Hi @morazow,

yes, it turns out that the main connection was closed too. So could it be a solution when we keep the main connection alive in the driver?

However, my main concern was how could the spark tasks be failed or re-started, when I ran the job locally (not on any cluster), so that there wasnt any preemption happenned.

[2018-10-04 09:06] morazow commented on #9
Hello @3cham ,

Have you build the latest commit from repository? Because, the main connection should be recreated again it was closed, [here](https://github.com/EXASOL/spark-exasol-connector/blob/master/src/main/scala/com/exasol/spark/util/ExasolConnectionManager.scala#L72).

Once the Spark application job ends we [close the main connection](https://github.com/EXASOL/spark-exasol-connector/blob/m

[2018-10-12 13:21] 3cham commented on #9
Hi @morazow , sorry for my late reply.

Yes, it was tested with the latest commit. count is correctly performed with the docker instance in the integration tests. However, when I try to query the table (mentioned above) in our cluster, the slave connection is closed while the first task is not really completed:

[code]
I don't know how the slave connection is implemented but could it be some kind

[2018-10-14 02:47] morazow commented on #13
Hello @3cham,
Thanks for the pull request for this! I am going to review and on Monday.

[2018-10-14 02:50] morazow commented on #9
Hello @3cham,
Could you please also write the query string you are running, or a simplified version of it?

[2018-10-15 08:47] morazow opened #18 "Add unhandledFilters function to ExasolRelation"
Implement [unhandledFilters](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/sources/interfaces.scala#L237) function in `ExasolRelation` in order to avoid double filtering.

[code]

This should return only list of not pushed predicate filters, currently empty.

[2018-10-17 07:16] 3cham commented on #5
Since I am working on this, one question: what if user provide both .option("schema",) and .schema(), should the one in .option() be preferred? I think it rarely happens but worth asking.

Without providing query, the table name must be provided as well. Should it be fully quallified (schema.table) or in two separate option?

[2018-10-17 08:45] morazow commented on #5
Hey @3cham,

When I created this issue I did not think through, it is good that you are asking those questions!

No, let's not provide schema with an `.option`. The preferred api is to use `.schema` from Spark side also. Additionally, with option we will have to convert `StructType` to string and back because parameters is of type `Map[String, String]`. Long story short, ignore schema in option, l

[2018-10-17 08:53] #13 closed

[2018-10-18 09:50] 3cham commented on #9
Hi @morazow, could you please confirm that once `connection.EnterParallel()` is called, the query should be simultaneously executed on all the nodes. When I try to execute the query using the slave-connection each after another, I have connection either reset or lost.

In my case, since it was a local spark context with 1 executor, only one task could be started and it turns out that the query in

[2018-10-18 10:07] morazow commented on #9
Hey @3cham,

Yes, that is ideal case. But with sub-connections it does not work like that unfortunately.

I am working on some ideas how to resolve these issue, we can also discuss it next week in Hamburg :)

### First problem

The first problem is once the task is finished we close that particular sub connection. But maybe the Spark context is still running. So next time if that or another task t

[2018-10-18 13:42] 3cham commented on #9
@morazow: I got what you mean, however the above test is just a standalone program with no spark involved. This program calculates the total number of rows by executing select count(*) on the nodes one after another and adding them together. Please find below the test code:

`   val hosts = conn.GetSlaveHosts()
    val ports = conn.GetSlavePorts()
    System.out.println("using host: " + hosts.mkSt

[2018-10-18 14:52] morazow commented on #5
Fixed on #19

[2018-10-18 14:52] #5 closed

[2018-10-19 08:10] morazow commented on #9
Hey @3cham ,
This good test actually. I do not know the reason yet. I am going to ask here in house.

[2018-10-19 09:15] morazow commented on #9
Hey @3cham,
I have talked with Thomas here at Exasol.

This will not work because, before fetching any data from a sub-connection, all sub-connections should already have query executed or prepared.

Could you please try creating and exsuting statement in first map after creating a connection. Then in second map to try to get data from result set?

Additionally, you can execute the query in main c

[2018-10-23 14:02] morazow opened #22 "Add / check sub connections usage with handles"
This might solve the problem when there are few Spark tasks than Exasol nodes and sub-connections are blocked.

[2018-10-24 10:17] 3cham commented on #4
see PR #23, if you don't mind, please add @jpizagno to contributors list.

[2018-10-25 07:37] jpizagno commented on #15
@morazow  @3cham
  I would like to contribute to this project.  Would this be a good ticket for me to start with?  (I *think* I understand the ticket, but have a question)
thanks
Jim

[2018-10-25 08:56] morazow commented on #15
Hello Jim,

Yes, feel free to take it.

The main idea here is to improve test coverage of type conversions. You can extend or create new Exasol table with various column types (integer, double, tinyint, string, etc) and make sure that connector can read such tables with correct Spark types.

You can also check how jdbc types are converted into Spark types [here](https://github.com/EXASOL/spark-exa

[2018-10-25 19:37] jpizagno commented on #15
@morazow
     Great.  My approach to implementing this test would be to write a TypesSuite class in test package that tests the method Types.createSparkTypeFromSQLType().  It seems that ExasolRelation and createSparkStructType lead to createSparkTypeFromSQLType().  So if createSparkTypeFromSQLType() is tested, then we have tested the type conversions.  correct?

thanks,
Jim

Yes, I can ask @3cham

[2018-10-26 06:47] morazow commented on #15
Hello @jpizagno ,

Yes, that is correct.

However, you can also add a single integration test which reads a table with various types from Exasol (docker/exasol-db).

[2018-10-26 07:23] morazow opened #24 "Pushdown dataframe count action"
If there is a `df.count` operation on a connector dataframe, we do not have to send data through network to create an ExasolRDD. We can get the count with a single jdbc call on main connection and create a RDD with empty rows as many as count using `sqlContext`.

`df.count` can be detected using `requiredColumns` from buildScan. For example, if `requiredColumns` is empty:

- Make a single jdbc cal

[2018-10-28 19:30] jpizagno commented on #15
Hello @morazow
    In short, is the Exasol max_precision limit 36 or 38?

I am testing the Exasol Types conversion.  The class DecimalTape.scala lists "val MAX_PRECISION = 38".  The Exasol PDF Manual on Page 95 Section 2.3.2 Numeric data types, lists "precision <= 36".
When I run a test with DECIMAL(38,38), then I get a stacktrace:

java.sql.SQLException: illegal precision value: 38 [line 8, colum

[2018-10-29 09:07] morazow commented on #15
Good morning @jpizagno,

That is good catch!

In my initial implementation I did not check these types in depth. Could you please also update the `max_precision` to `36` ?

[2018-10-29 18:55] jpizagno commented on #15
Hey @morazow and @3cham
   I checked again, and the the MAX_PRECISION=38 comes from DecimalType in **spark**-catalyst_2.11-2.3.1.  So it seems that Spark has MAX=38 whereas Exasol-JDBC just has a MAX=36.
The problem is that this number has nothing to do with spark-exasol-connector.

I would not advise that we put a hard-coded 36 in spark-exaol-connector, but I do not see another option.  Where is

[2018-10-29 20:04] jpizagno commented on #15
@morazow  and @3cham
   Here is an example from my fork/branch where the MAX_PRECISION and MAX_SCALE are hard-coded  in Types.scala.  It works, but is dangerous.  What are your thoughts?

https://github.com/jpizagno/spark-exasol-connector/blob/d2de8a928342f1022f1d5a5080fdddc00b9b5426/src/main/scala/com/exasol/spark/util/Types.scala#L12

[2018-10-29 20:34] 3cham commented on #15
IMO, the precision and scale are returned from the ResultSet [metadata](https://github.com/EXASOL/spark-exasol-connector/blob/master/src/main/scala/com/exasol/spark/util/Types.scala#L29-L30), so that the value could never exceed 36 (see: [here](https://github.com/EXASOL/spark-exasol-connector/blob/master/src/main/scala/com/exasol/spark/util/Types.scala#L124-L125)).

I think there is no need to cha

[2018-10-30 07:53] jpizagno commented on #15
@3cham
   Good point. I guess nobody can create a type in Exasol with PRECISION >36, so it may not be a relevant test. I will leave the getter methods there (change the name to conform to getter naming standards), adjust tests, and carry on.

@morazow
   Let me know what your thoughts are?

[2018-10-30 10:38] morazow commented on #15
Hey @jpizagno, @3cham

The changes so far looks good from my side.

We can bound the precision and scale by 36 as Exasol standard since they will never be larger than this value.

I think this is okay for reading / querying from Exasol into Spark. However, it is good to know that Spark max value is 38. This might be relevant when we have save or insert into Exasol from Spark dataframe.

[2018-10-30 10:49] jpizagno commented on #15
@morazow
Great. I just added a test that expects an Exception to be thrown when a Type in Exasol is not converted to Spark.

I will wait for the pull-request on sub-connections to go through, will rebase my fork, and then submit a pull request, and then we can review it.

[2018-10-30 11:43] #22 closed

[2018-10-30 11:44] morazow commented on #15
@jpizagno great!

I have merged the other pr.

[2018-11-05 07:54] 3cham commented on #9
Since we all know that it depends on sub connection implementation, I will close this issue :)

[2018-11-05 07:54] #9 closed

[2018-11-05 07:57] 3cham commented on #24
Hi @morazow, Back after crazy week. I think we could also improve the show() method as well. It is often called by user to have a glance at the underlying data. It is only 1 task job:
[code]
So in the test environment it runs completely fine. However, if it runs in cluster environment, will cause the known connection error.

One idea is to define kind of metadata info object for the exasol relatio

[2018-11-05 11:00] morazow commented on #15
Solved at #26!

Test coverage is up to 84% :tada:

[2018-11-05 11:00] #15 closed

[2018-11-05 11:33] morazow commented on #24
Hello @3cham ,

Sure. I think it is a good idea! Could you please create a separate issue for `show`?

To be honest I did not test `.show` yet in distributed environment.

[2018-11-06 09:28] 3cham opened #27 "Enable dataframe.show() for cluster environment"
User may run dataframe.show() to have a glance at the underlying data. It is only 1 task job:
[code]
So in the test environment (only 1 node exasol cluster) it runs completely fine. However, if it runs in cluster environment, will cause the known connection error because it is mandatory that all the nodes receive the same query.

The idea to solve this problem is introduce a lazy metadata object i

[2018-11-09 08:45] morazow opened #28 "Spark 2.4.0 (Scala 2.12.x) Release"
Just recently Spark 2.4.0 was released and there are [many improvements](https://spark.apache.org/releases/spark-release-2-4-0.html).

Interesting features from this release:

- Scala 2.12.x can be used (this should also be included into cross compilation)
- [Barrier Execution Mode](https://issues.apache.org/jira/browse/SPARK-24374)

@3cham , @jpizagno the barrier execution can help us with the su

[2018-11-16 08:32] #24 closed

[2018-11-20 07:57] jpizagno commented on #12
@morazow @3cham
Can I take this ticket?
I think it will be quick, because I am already familiar with the integration tests.

[2018-11-22 10:13] #18 closed

[2018-11-22 14:31] morazow opened #32 "Insert Spark dataframe into Exasol"
We should be able to insert Spark dataframe into Exasol table.

`insert`, `append` or `overwrite` should be possible options.

[2018-12-10 09:35] morazow commented on #12
Fixed on #34

[2018-12-10 09:35] #12 closed

[2018-12-20 15:50] beatbull opened #35 "Column order is mixed up in Exasol selects due to internal query wrapping"
Thanks for continuously improving the spark-exasol-connector. It really simplifies leveraging Exasol data in spark.

I've upgraded to the latest available release 0.1.3 of the spark-exasol-connector. I tried reading data from Exasol and writing to Spark using `insertInto`. `insertInto` ignores column names and relies on column order (see https://spark.apache.org/docs/latest/api/scala/index.html#or

[2018-12-20 16:06] morazow commented on #35
Hello @beatbull,

Thanks for opening this issue!

Could you please clarify, when you say `insertInto` is it Spark SQL syntax?

For example,
[code]

If you have an example, could you please provide it?

As you probably know, we do not have saving into Exasol feature yet. (I am working on this on my fork). However, if it "INSERT INTO" syntax, it might be easier to provide that with [`InsertableRelat

[2018-12-20 16:15] beatbull commented on #35
I'm reading from Exasol via spark-exasol-connector and write to a Hive table using Spark's `insertInto`. So I'm not inserting to Exasol via spark, only reading from it.

[2019-01-02 15:17] beatbull commented on #35
Hi @morazow ,

the problem seems to be a bit more relevant. I tried using `saveAsTable` to store the data retrieved from Exasol via the spark-exasol-connector into a Hive table. Unfortunately, this doesn't work in spark due to https://community.hortonworks.com/content/supportkb/210572/how-to-append-data-to-an-hive-orc-table-from-spark.html . So I have to use `insertInto` when writing the DataFrame

[2019-01-08 12:40] morazow commented on #35
Hello @beatbull,

I have finally found time to look into this issue.

However, I have not been able to pinpoint the problem to column ordering in connector side.

Could you please compare the schema-s from both dataframe and hive table?

E.g.

[code]

I created short hive example to test the issue, you can check it here, https://gist.github.com/morazow/3580d6c4c7a2ee46362949a4efdc6aee. I used Spar

[2019-01-09 07:13] beatbull commented on #35
Hello @morazow ,

thank you for checking this issue and providing an example. Unfortunately, the example query uses too few columns in the select and it looks like you simply got lucky. I took your example and changed the query, adding a few more columns:

[code]

Also I added a `df.show()` before `df.printSchema()`. With more columns, the mixup effect shows up, it is easy to see in the log messag

[2019-01-09 08:44] morazow commented on #35
Good morning @beatbull,

It is great that you have pointed a problematic query. Let me have another look using your example query.

[2019-01-09 12:40] morazow commented on #35
Hello @beatbull,

I have added some more logs (on my fork) to check what was going, you can check them [here](https://github.com/morazow/spark-exasol-connector/commit/2df6467dfdb658d5da4ceb3e80ce44418ce45e12).

Indeed the columns are reordered. However, it is what Spark provides with `requiredColumns` inside `buildScan(columns, filters)` function. I could not understand, why regular without parame

[2019-01-09 13:56] beatbull commented on #35
Hello @morazow ,

thanks for further investigating the issue. For me the column order was messed up (in an even bigger query with more columns) which resulted in data type mismatch errors.

Ok, so then I'll keep my "workaround" for now (posted in the first message in this issue) which reorders columns in the data frame to make absolutely sure the positions are correct.

Thanks.

[2019-01-10 09:00] morazow commented on #35
I am going to close this now. Let us discuss again when we found out more about this in general.

[2019-01-10 09:00] #35 closed

[2019-01-16 05:22] pborah commented on #32
When can i expect this. I have stuck because of it. Unable to push data directly from spark to exasol. Can you help me is there any workaround for this.

[2019-01-16 05:50] pborah commented on #32
I am getting below exceptions.

Exception in thread "main" java.sql.SQLException: Feature not supported: user-defined type (TEXT) [line 1, column 51] (Session: 1622792282349682915)
	at com.exasol.jdbc.ExceptionFactory.createSQLException(ExceptionFactory.java:175)
	at com.exasol.jdbc.EXASQLException.getSQLExceptionIntern(EXASQLException.java:50)
	at com.exasol.jdbc.AbstractEXAStatement.execute(Abst

[2019-01-16 08:42] morazow commented on #32
Hello @pborah,

Good news! It is almost ready. I am going to push the pull request today and release new version by the end of week or beginning of next week. Please feel to review the PR!

Just a question, could you please share which code / commands resulted in that exception?

[2019-01-16 09:19] pborah commented on #32
SparkConf conf = new SparkConf().setAppName("cust data").setMaster("local[*]");
		    SparkSession spark = SparkSession
		    		  .builder()
		    		  .appName("spark")
		    		  .config(conf)
		    		  .getOrCreate();

		    Dataset<Row> jdbcDF = spark.read()
					  .format("jdbc")
					  .option("driver", "com.exasol.jdbc.EXADriver")
					  .option("url", "jdbc:exa:10.101.23.12:8563")
					  .op

[2019-01-16 09:37] morazow commented on #32
Hey @pborah,

You are using Spark "jdbc" datasource not "exasol" :) Using regular `jdbc` source is not a problem at all; however, I might better support you when using this connector which provide `exasol` as a datasource and used parallel (sub) connections.

Could you please give it a try? Since you are using java api, it will help us also improve or find bugs when used in java application.

Howe

[2019-01-16 10:32] pborah commented on #32
Hey @morazow
root
 |-- LAST_NAME: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)

Above  is the type.  All are type String. But somehow while converting from String to TEXT its broken in Exasol side.

Sure i would definitely love to test ur code n review as well.
But would test in end of next week. Will

[2019-01-16 10:47] morazow commented on #32
@pborah

Sorry, I cannot immediately see where `TEXT` comes from, I would have to check source from Spark side.

No worries. Great, the insert feature will be released by then. Please do not hesitate to let us know if you face any issues, bugs or have requests!

Best and enjoy your vacations!

[2019-01-21 09:30] morazow commented on #32
Fixed in #37.

[2019-01-21 09:30] #32 closed

[2019-01-21 09:34] morazow commented on #28
Hey all,

I am going to close this issue since we introduced already Spark version 2.4.0 in #37.

However, I am also going to create specific issue for Scala 2.12+. In near future, we should be able to compile with Scala 2.12.

[2019-01-21 09:41] morazow opened #38 "Cross compile with Scala 2.12+"
Since most recent Spark version (2.4+) was moved to Scala 2.12+ (finally), we should also be able to compile with Scala version 2.12+.

Currently, we depend on [Spark Testing Base](https://github.com/holdenk/spark-testing-base/pull/275) library, once it is merged we can also start working on it.

Some resources to read on the migration efforts:
- [SPARK-14220](https://issues.apache.org/jira/browse

[2019-01-21 09:47] morazow opened #39 "Preserve column quotes"
The @3cham reported on #37 that we loose the quote information of the Exasol table column.

We should preserve the column information in the connector.

This is also similar issue to #14.

[2019-01-26 04:00] pborah commented on #32
Hello @morazow , I am back. Did u push the latest jar to maven repo ? Please confirm.

https://mvnrepository.com/artifact/com.couchbase.client/spark-connector_2.11/2.2.0

[2019-01-26 05:57] pborah commented on #32
Hello @morazow
Created a jar locally  "spark-exasol-connector-assembly-0.2.0.jar"

While performing operation getting below exceptions.  Do i need to add any additional jar ?

Exception in thread "main" java.lang.NoClassDefFoundError: scala/Product$class
	at com.exasol.spark.util.ExasolConfiguration.<init>(ExasolConfiguration.scala:42)
	at com.exasol.spark.util.ExasolConfiguration$.apply(ExasolCon

[2019-01-27 04:20] morazow commented on #32
Hello @pborah,

Welcome back!

Yes, `0.2.0`  is latest version, please find the dependency link [here](https://mvnrepository.com/artifact/com.exasol/spark-connector_2.11/0.2.0). (Above link points to couchbase connecter).

I am assuming you are using the connector from Java Spark application? From the error it seems like it cannot find the Scala library.

You can add [Scala 2.11.x library](https:/

[2019-01-28 07:39] pborah commented on #32
Hello @morazow

I am getting below exceptions now. Any idea whats missing here.

 jdbcDFOrder.write()
		  .mode("overwrite")
		  .option("host", "100.121.23.110")
		  .option("port", "8563")
		  .option("username", "sys")
		  .option("password", "******")
		  .option("create_table", "true")
		  .option("table", "DEMOQA.spark_data212")
		  .format("exasol")
		  .save();

Exception in thread "main"

[2019-01-28 07:55] morazow commented on #32
Hello @pborah,

This seems like missing Exasol jdbc dependency.

Could you please add these also as dependency? For example, pom.xml:

[code]

[2019-02-04 08:55] morazow commented on #32
Hello @pborah,

Were you able to evaluate the connector?

Please do not hesitate to let me know if you have any issues.

[2019-02-06 10:30] jpizagno commented on #14
@morazow  @3cham
  Is this a related issue?   When I do something dumb, like use "condition" as a column name in the schema, then I also get an error.  I imagine this fails for column names "select" "from" "where" etc..
 This however, has nothing to do with the WHERE clause.

Is this an error/ticket for us and this ticket, or should we note this as "user error" ?
:>

[code]

[2019-02-06 13:47] morazow commented on #14
Hey @jpizagno,

Yes, it is because of reserved `condition` keyword. This is currently an issue with the connector.

Generally, we should keep the quotes, for example, the users provide columns as quoted. There is another ticket for this at #39. Similarly, if users do not know which keywords are reserved the connector should detect and properly quote them. This issue is about it.

Since Exasol has

[2019-02-07 08:32] jpizagno opened #40 "Expand test environment"
We would like to test in cluster environment. The cluster environment could include both Exasol and Spark clusters.  This could be done using docker-compose (Exasol Cluster and Spark-master and Spark-Workers).

Further details can be discussed in the ticket.

[2019-02-08 11:17] mabdelrazzak opened #41 "Pyspark example"
Hi,
Can you please provide a sample code for using it in pyspark? I'm trying to write a dataframe into an Exasol table, I'm currently using JDBC but it does not allow me to create the table if not exist.

df.write \
            .format("jdbc") \
            .option("driver", "com.exasol.jdbc.EXADriver") \
            .option("url", URL) \
            .option("dbtable", "mytable") \
            .op

[2019-02-08 12:42] jpizagno commented on #41
@mabdelrazzak
You may need to include the option : .option("create_table","true")

Also you need Spark Version 2.1+.

Try this example and get back to us:

[code]

and then in ExaPlus GUI I see
[code]

[2019-02-08 13:22] morazow commented on #41
Hello @mabdelrazzak,

Yes, you can use the setup and example provided above by @jpizagno.

Similarly, if you want to skip assembling the jar, you can use these two lines with `pyspark` command:
[code]

I have written short walkthrough example, it is mostly for Scala but should work with PySpark also. Please find it [here](https://github.com/exasol/spark-exasol-connector/blob/master/docs/example-wa

[2019-02-08 14:30] mabdelrazzak commented on #41
Hello,

Thanks for your feedback(s).
**I have followed the first example: @jpizagno**

employees_dataframe.write \
...         .format("exasol") \
...         .option("host", "myserver") \
...         .option("table", "Test_TBL") \
...         .option("port", "8563") \
...         .option("username", "myuser") \
...         .option("password", "mypassword") \
...         .option("useSSL", "false")

[2019-02-10 20:19] morazow commented on #41
Hey @mabdelrazzak,

Thanks for trying out different approaches!

I think we are more close to getting it working on the first error :) On other cases it seems like the dependent libraries of connector are not loaded.

Could you please check that you can connect on [ports in range [20000..21000]](https://www.exasol.com/portal/display/DOC/Default+Ports) to Exasol database?

The connector uses Exasol

[2019-02-10 20:33] jpizagno commented on #41
@mabdelrazzak
     Thanks for trying our solutions. Just to explain my suggestion, the parameter "--num-executors=32" may be important.  If I do not use the correct number, then I also get connection problems.

How many nodes are in your Exasol Cluster ?
(this is related to @morazow 's answer)

There is not a 1-1 mapping, but the number of Spark executors may need to be greater (or equal to) the n

[2019-02-12 08:00] mabdelrazzak commented on #41
Thanks so much @morazow @jpizagno This is really helping, I have check with our support team and the ports range 20000:21000 were not open and it took them sometime to open it, but now all is open (hopefully :) )
Now the exception has changed:

 java.lang.NoSuchMethodError: com.exasol.jdbc.EXAConnection.EnterParallel(I)I
	at com.exasol.spark.util.ExasolConnectionManager.initParallel(ExasolConnecti

[2019-02-12 12:07] jpizagno commented on #41
@mabdelrazzak
    I am not sure the project here (spark-exesol-connector) is supporting pycharm. Try using pyspark or spark-submit.

    That message sounds like the jar was not found in: ~/spark-2.3.2-bin-hadoop2.7/jars/.
Check that your environment variable SPARK_HOME is set to ~/spark-2.3.2-bin-hadoop2.7.

I would suggest including the spark-exasol-connector-assembly-0.2.0.jar in the --jars par

[2019-02-14 09:59] mabdelrazzak commented on #41
Hello @jpizagno
I can connect to the DB through my script and the table is created successfully but no data is being loaded and I'm still getting the same exception, Exasol cluster has only 2 nodes. I'm getting the same exception in both PyCharm and PySpark terminal.
The jar file "spark-exasol-connector-assembly-0.2.0.jar" is already placed in:
/Library/Java/JavaVirtualMachines/jdk1.8.0_202.jdk/Co

[2019-02-15 08:25] morazow commented on #41
Good morning @mabdelrazzak,

That is strange error. Maybe exasol-jdbc jar not included in assembled connector jar file.

Are you available today (or next week) to do a live session? Then maybe we can go over your PySpark workflow together.

You can reach me on `muhammet.orazov@exasol.com` email.

Best

[2019-02-15 10:53] morazow opened #42 "Add notice on host parameter to readme"
The host parameter should be the very first node ip address when using the Exasol subconnections. Providing a public domain name or public ip (for example, in AWS environment) address will not work.

More info on subconnections: [SOL-546](https://www.exasol.com/support/browse/SOL-546).

[2019-02-18 14:35] jpizagno opened #43 "Check Host Name"
Problem:  subconnections do not work with domain name ("servername.domain.com"),  a IP is required (i.e. 169.100.168.100).

Solution:  On start, check "host" parameter with an regex for numbers, and if fail message user something readable

[2019-03-06 16:47] pborah commented on #32
Yes Its working fine. Thanks for ur help.

[2019-03-11 09:41] morazow commented on #41
Hello @mabdelrazzak,
Since we were able to solve or recognize the issue, I am going to close this ticket.

Please do not hesitate to open new tickets if you have any questions or issues.

[2019-03-11 09:41] #41 closed

[2019-05-12 08:43] dbast commented on #38
spark-testing-base 2.4.3_0.12.0 is available :)

[2019-05-12 08:46] morazow commented on #38
Thanks @dbast, that is great news!

I am going to check the version updates soon. There might be some issues with sbt plugins on Scala 2.12.

[2019-06-23 18:46] morazow opened #44 "Bug in Spark Decimal type to Exasol Decimal type conversion"
## Situation

Currently any Spark decimal type, even if it contains different precision and scale is mapped to Exasol default `Decimal` type, which by default is `Decimal(18, 0)`.

## Solution

Spark Decimal type should be correctly mapped to Exasol decimal type with exact precision and scale values.

## Test code
[code]

[2019-06-24 13:26] jpizagno commented on #44
@morazow Can I take this ticket, or is somebody already working on it?  I think I am familiar with this area of the code.

[2019-06-24 13:31] morazow commented on #44
Hey @jpizagno,

Good to hear from you! Yes sure, please feel free to work on this task. Thanks a lot!

Only to make sure that we are on the same page, the Exasol decimal type mapping should be changed [here](https://github.com/exasol/spark-exasol-connector/blob/master/src/main/scala/com/exasol/spark/util/Types.scala#L170). The Spark decimal type `dt` should already have precision and scale values,

[2019-07-02 07:15] morazow opened #45 "Improve logging"
### Problem

Currently used lazy logging in the connector does not work in Azure Databricks environment.

The error is an exception as below:
[code]

### Solution

Change the logging to the Spark internal logging. Confirm first that it is not private class.

[2019-07-03 07:50] jpizagno commented on #44
@morazow
   So I started working on a branch in my fork:

https://github.com/jpizagno/spark-exasol-connector/blob/task/%2344-bug-spark-decimal-type-to-exasol-decimal-type/src/main/scala/com/exasol/spark/util/Types.scala#L170

https://github.com/jpizagno/spark-exasol-connector/blob/task/%2344-bug-spark-decimal-type-to-exasol-decimal-type/src/test/scala/com/exasol/spark/util/TypesSuite.scala#L11

I

[2019-07-03 08:14] morazow commented on #44
Hey @jpizagno,

This looks great!

Please send a pull request. I can also suggest some changes before pr. Could you please use the `min` on precisions, similar like inside boundedDecimal function?
[code]
similar for the scale value also, on these [lines](https://github.com/jpizagno/spark-exasol-connector/blob/task/%2344-bug-spark-decimal-type-to-exasol-decimal-type/src/main/scala/com/exasol/spark/

[2019-07-04 13:51] morazow opened #46 "Bug when saving dataframe containing null strings"
### Problem
There is a bug in code that uses JDBC `CLOB` type instead of `VARCHAR` type when setting null values for Spark `StringType`.

It throws an exception similar to below:
[code]

Thanks @exasol-szba  and Jamie Pritchard from Win Technologies for reporting this issue!

### Solution

Change the `CLOB` to `VARCHAR` in [here](https://github.com/exasol/spark-exasol-connector/blob/master/src/mai

[2019-07-10 14:01] morazow commented on #44
Fixed in #47.

[2019-07-10 14:01] #44 closed

[2019-07-10 20:08] 3cham opened #51 "ExasolDockerContainer is not configured to respect startup timeout"
Generally exasol/docker-db requires some time to start up completely. This is already targeted in ExasolDockerContainer.configure() [method](https://github.com/exasol/spark-exasol-connector/blob/master/src/it/java/org/testcontainers/containers/ExasolDockerContainer.java#L34). However this configuration isn't considered by JdbcDatabaseContainer (extended by ExasolDockerContainer) class. Source code

[2019-07-11 08:01] #38 closed

[2019-07-11 10:59] 3cham commented on #51
On the other side, I am having trouble with integration tests on Mac OS, some how the test container could not speak with the exasok container using the test query. I changed to use the latest images 6.1.4 but it did not help. Do you have any idea @morazow ?

[2019-07-11 11:05] morazow commented on #51
Hey @3cham,
No idea. Do you have an error logs?
I also occasionally see startup errors, but I cannot reproduce on next runs.

[2019-07-11 11:07] #42 closed

[2019-07-11 21:22] 3cham commented on #51
Here you can see that the exasol container was started, but the test query failed.
[code]

[2019-07-11 22:34] morazow commented on #51
Yes, the container seems to be running but maybe the Exasol database is not started properly.

This might be issue related to `O_DIRECT` not being available on macOS. It is [one of the requirements](https://github.com/exasol/docker-db#host-os) for the Exasol docker-db.

Could you please check it? And maybe try to run from regular cli,
[code]
and see if everything works.

[2019-07-12 07:35] #43 closed

[2019-07-12 11:07] 3cham commented on #51
Yes, I visited the troubleshooting link from exasol-docker db as well, but in the container log above I didn't see any error. I could even used exaplus client to connect to the db, so I didn't think it is related to O_DIRECT.

[2019-07-12 12:44] #51 closed

[2019-07-12 12:45] morazow commented on #46
Fixed in #52.

[2019-07-12 12:45] #46 closed

[2019-07-22 12:20] morazow opened #54 "Update release versioning to include Spark versions"
Currently, we have only one semantic version number, for example, `v0.2.0`. However, it would be good idea to include Spark version number into the releases. For example, `2.4.0_0.2.0`.

This should not change much from user perspective, since it is only updating the version number in the **pom.xml** or **build.sbt** files. And this kind of versioning will help us in the future if there are Spark

[2019-07-22 12:24] morazow commented on #54
This will also make the connector releases compatible with [Spark packages](https://spark-packages.org/) versioning system.

[2019-07-22 12:28] morazow opened #55 "Register the connector into spark-packages.org"
Users should be able to find the spark-exasol-connector on [spark-packages.org](https://spark-packages.org/?q=tags%3A%22Data%20Sources%22) datasources section.

[Spark Packages](https://spark-packages.org/) is community managed third-party packages for Apache Spark.

[2019-07-31 08:18] #45 closed

[2019-10-11 09:37] xibux-repo opened #57 "Error: com.exasol.spark.DefaultSource does not allow create table as select."
Hi,

I try to use the connector in Pyspark to write data from Hadoop (2.4) by (selecting a hive table) to Exasol. The table is not created beforehand at all, got following error message about '**not allow create table as select**'. Hope somebody can help me further. Thank you very much!

My code:
`df_hdfs = spark.sql("select * from {}".format(hive_table))
df_hdfs.printSchema()
df_hdfs.write.mode("

[2019-10-15 06:54] morazow commented on #57
Hello @xibux-repo,

Thanks for reporting the issue!

From quick look, you should also set `create_table` to `true` to create table if it does not exist.

[code]

Please let us know if the issue still persists.

[2019-10-16 12:58] xibux-repo commented on #57
Thank you so much! At least I didn't get the same error, I got some 'data type' problem:

` java.sql.SQLException: Cannot handle data type: 2005
	at com.exasol.jdbc.AbstractEXAPreparedStatement.createNull(AbstractEXAPreparedStatement.java:938)
	at com.exasol.jdbc.AbstractEXAPreparedStatement.setNull(AbstractEXAPreparedStatement.java:887)
	at com.exasol.spark.writer.ExasolWriter.insertPartition(Exa

[2019-10-17 07:54] xibux-repo commented on #57
Thanks a lot! @morazow . I created the jar for the scalar version 2.11.12 what we have now. After testing i got following error:
`Caused by: java.io.InvalidClassException: com.exasol.spark.writer.ExasolWriter; local class incompatible: stream classdesc serialVersionUID = 3001495094914647942, local class serialVersionUID = -185775931428982968`

Hope you can help me further. Thank you!

[2019-10-21 06:54] morazow commented on #57
Hello @xibux-repo,

Sorry for late reply.

Did you run spark-exasol-connector assembly also with scala version 2.11.12? The error seems to Scala (or Spark) version compatibility issue.

These issues occur, for example, when you compile the spark-exasol-connector with Scala version 2.12+ and run in an environment that uses Scala version 2.11+.

Could you please create assembled jar using Scala vers

[2019-10-21 07:55] xibux-repo commented on #57
Hi @morazow,

no problem. I did run it for the scala version 2.11.12 in spark 2.4.3. The error I posted in the last post is the error with the same version, this is why it confuses me a lot with the "imcompatible".

[2019-10-22 07:23] morazow commented on #57
Hmm that is strange. Could you please also ensure that previous jars are removed from Spark cluster?

Sorry, currently I am occupied with other tasks, if the error still persists I can have a look into it when I am available again.

[2019-11-06 11:32] xibux-repo commented on #57
@morazow It was exactly this problem. After removing the old jar, it works. @3cham helped me a lot! Thank you very much @morazow @3cham! Therefore we can close this issue.

Best wishes
Xibin

[2019-11-06 11:32] #57 closed

[2019-11-06 18:38] morazow commented on #57
Hey @xibux-repo,

Great to hear that! @3cham and also @jpizagno could both help you!

However, feel free to open an issue if you face any other challenges. It might help others also.

[2020-01-22 12:14] morazow opened #59 "Add dependency list to the readme."
This will allow us to be transparent about the dependencies that are used in the project. Additionally, it will show our respect and acknowledgement to the open-source projects and their contributors that we are depending on.

Example list from virtual-schemas: https://github.com/exasol/virtual-schemas#dependencies

[2020-01-29 15:34] 3cham opened #60 "Spark not-nullable column converts to EXASOL column failed while saving"
While creating table in EXASOL we infer column information from [spark schema](https://github.com/exasol/spark-exasol-connector/blob/master/src/main/scala/com/exasol/spark/util/Types.scala#L227-L238
).
Spark says if a column does not contain any null value then this column is not nullable, despite it can contain **empty string**. So our connector will set the column in the EXASOL DDL to NOT NULL.

[2020-01-30 08:42] morazow commented on #60
Hey @3cham ,

Good to hear from you!

Yes, it is a good point! From my side, I would prefer to remove the `NOT NULL` for only string types. But, I guess we can remove it for all types. It puts the validation on the database side, but if users want that, they can filter the dataframe before insert or run `ALTER` command to add that constraint later inside the database. So, it should be safe to remo

[2020-03-16 14:00] MellD opened #61 "Extend query option with "execute script" command"
It would be nice to trigger lua scripts also from Spark side.
If we send a query with "ececute script my.luascript()" we get back the following exception:
"java.sql.SQLException: syntax error, unexpected EXECUTE_"

[2020-03-19 21:05] 3cham commented on #61
@MellD I think in this case you can create a view with your query inside EXASOL firstly. The SQL parser inside spark currently does not understand exasol execute syntax.

[2020-03-23 07:30] morazow commented on #61
Hello @MellD,

Thank you for the feedback!

Addition to the @3cham comment, spark-exasol-connector is designed to get Spark dataframe from the Exasol table. To do so, it runs `executeQuery` (usually SELECT statements) command and expects [`ResultSet`](https://docs.oracle.com/javase/7/docs/api/java/sql/ResultSet.html) to be returned.

Unfortunately, you cannot run the `execute script` SQL statement

[2020-03-27 08:55] morazow opened #62 "Update dependencies: Spark 2.4.5 and Exasol 6.2.5"
## Situation

At the moment main Spark version is 2.4.3 and Exasol JDBC version is 6.1.3. Similarly, the integration tests test against Exasol docker image version 6.1.3-d1. These dependencies should be updated to the latest versions.

## Acceptance Criteria

* Spark and Exasol versions are updated to 2.4.5 and 6.2.5 versions.
* Other library and plugin dependencies are updated if there are new ve

[2020-04-09 02:43] #60 closed

[2020-04-09 02:51] morazow opened #65 "Add support Interval Datatypes"
## Situation

In recent updates #64, we updated the Exasol JDBC driver version, that is able to query `INTERVAL YEAR [(p)] TO MONTH` and `INTERVAL DAY [(p)] TO SECOND [(fp)]` data types. However, these are converted into Spark `StringType` in the dataframe schema when reading a table from Exasol.

To make it robust, we should check that when saving a dataframe, the connector correctly converts int

[2020-04-09 02:55] #62 closed

[2020-04-30 06:31] LordBertson opened #66 "Receiving "com.exasol.jdbc.ProtocolException: Too long message received" upon attempting to write a large Dataframe into Exasol database"
Hi,

first of all, I am sorry is this is already known or resolved, I have tried to search a bit before posting and haven't found any related posts.

I am lately encountering an Exception trying to write a large dataframe into an Exasol database:

[code]

The code with which I attempt to write:
[code]

I am using a Spark 2.4.5 with the Spark Exasol Connector compiled for Scala 2.11, since the one

[2020-04-30 09:05] LordBertson commented on #66
Okay, got it, it seems to be an unrelated problem that the data contains varchars longer than 2M characters. Sorry.

[2020-04-30 09:05] #66 closed

[2020-05-04 05:07] morazow commented on #66
Hey @LordBertson,

Thanks for your feedback!

We have not hit this issue yet (or reported so far) in the spark-exasol-connector. It is correct that Exasol database has a limit on `VARCHAR` type.

Best

[2020-07-17 09:38] nikoki opened #68 "Drop Exasol table from Spark"
Is this supported?

I saw that there is an option to run general query, but it seems that it is limited to select statements.
I would like to be able to drop existing table and create new one from Spark.

[2020-07-17 10:58] morazow commented on #68
Hey @nikoki,

Yes, it is possible in the context of saving the Spark dataframe. You can use the overwrite mode when saving the dataframe.

[code]

However, if you want to run single SQL statements, you can use the regular JDBC commands from programming language. Unfortunately, it is not possible to run SQL statements from Spark Exasol connector.

[2020-07-17 11:24] nikoki commented on #68
Hi @morazow,
Thanks for the quick response!

I fond that if I try to override the existing Exasol table, like you suggested, **sometimes** it happens that the command hangs indefinitely. I suspect that happens if the DataFrame schema is different from the schema of the table already written to Exasol - but I am not 100% sure that is the cause.

To overcome the problem I wanted to drop the table be

[2020-07-17 11:39] morazow commented on #68
Hello @nikoki,

Okay, I understand.

Again when saving it is possible to create table if it does not exist,

[code]

but the table should be dropped separately outside of the connector. At the moment, it is not possible with the connector.

For the quick test, could you please drop the table using SQL client (DBVisualizer or DBeaver), and run the Spark dataframe save using the `create_table` optio

[2020-07-17 11:42] nikoki commented on #68
That is how I use it right now :)
I was hoping I could do it using connection.
Thank you!

[2020-07-17 11:47] morazow commented on #68
Great!
Then, I am going to keep this issue open. Adding this feature with an additional option should be feasible.
We will update here once it is included into the connector.

Thanks for your feedback!

[2020-08-07 09:33] morazow opened #69 "Change the document and changelog structure"
## Situation

We have changed the document and changelog management structure in recent weeks so that it is easier to automate the release process of the integration project.

The repository should adopt it.

## Acceptance Criteria

- Change docs to doc folder
- Add changes folder with changelog and changes file for each realase
- Link the changelog to CHANGES file in the root folder

[2020-08-07 11:05] #69 closed

[2020-08-20 13:36] nikoki commented on #68
Hey @morazow
Is there an ETA for this?
Thanks!

[2020-08-20 14:05] nikoki opened #71 "Kerberos auth"
Hi,
Is kerberos auth supported?
Since we switched to Kerberos i am receiving these errors:

Exception in thread "main" org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 77.0 failed 4 times, most recent failure: Lost task 2.3 in stage 77.0 (TID 5711, CLUSTER_NAME, executor 40): **com.exasol.jdbc.ConnectFailed: Connection refused (Connection refused)**

Thanks!

[2020-08-25 06:00] morazow commented on #71
Sorry, I could not reply earlier. I was on a vacation past two weeks.

Unfortunately, the spark exasol connector does not support kerberos
at the moment.

But since your spark cluster is kerberos enabled (and not exasol cluster)
the connection still should work?

Do you have more logs, for example the Ipv4 addresses the Spark tasks
connecting?

[2020-08-25 06:01] morazow commented on #68
Hey @nikoki ,

Sorry, we could not address this issue yet.

We planning to work on it coming weeks.

[2020-08-28 06:29] #68 closed

[2020-08-28 12:17] AlessioMagitteri opened #74 "Issue Using multiple Select while loading tables"
Hello,

I have just started to work with Exasol and I am trying to migrate my spark-scala code from the old database to Exasol.

Spark-exasol-connector version: 0.3.0 (I have done a try also using the 0.2.0)
Spark version: spark-sql_2.11:2.1.1

In the case I run a single query to read a single table using

"SELECT * FROM schema.table"

I can do whatever I want and save the results. As soon as I tr

[2020-08-31 08:41] morazow opened #75 "Add dependency audit check plugin"
## Situation

We have scheduled dependency check that regularly checks that project dependencies do not contain any vulnerabilities.

## Acceptance Criteria

- The OSS Index sbt integration plugin is added and runs with each CI.
- The Github action that runs it regularly is added.

[2020-08-31 09:21] morazow commented on #74
Hello @AlessioMagitteri ,

Thanks for the feedback!

Unfortunately, we cannot pushdown the Spark joins to the Exasol at the moment.

In the above example, Spark is going to plan single execution. But you have two datasource from Exasol, only one of the is going to be handled, the other one will timeout.

Could you please try by using [`UNION ALL`](https://docs.exasol.com/sql/table_operators.htm) E

[2020-08-31 10:03] morazow commented on #59
Fixed in #73.

[2020-08-31 10:03] #59 closed

[2020-08-31 15:43] nikoki commented on #71
Sorry for the late response.

After some further debugging it looks like the problem is not created by Kerberization of the server. The error message (Connection refused) lead me to think that. Let me explain a bit further.

First of all, I updated the lib version to 0.3.0 - we were using 0.2.1 previously.

During the debugging process, I ran the same job on the same data and produced deterministi

[2020-09-01 13:31] morazow commented on #68
Hello @nikoki,

This issue is automatically closed with pull request merge.

I wanted to inform you that the latest version, `0.3.1`, includes the `drop_table` option when saving the Spark dataframe.

Please give it a try!

The maven central does not list connector yet (due to sync with sonatype). But you can start using it already by including it to dependency list.

[code]

[2020-09-01 14:44] kundacina-m commented on #71
Hi,
I'm experiencing similar issue and I don't think there is issue with data volume.
Dataframe that I'm trying to insert into Exasol is 9row x 35col size with fields that are mostly null or strings that do not exceed 50 characters. What is pretty odd is that somehow table is actually created along with appropriate columns, but there is no data inserted.

Here is stacktrace:

[code]

[2020-09-02 07:22] morazow commented on #71
Hello @nikoki, @kundacina-m,

Thanks for your feedback! We highly appreciate it!

@nikoki,

It is great that you were able to solve the issue! I agree, the error message does not help very much here. From my understanding, one of the Spark tasks fails due to memory issues.

Meanwhile, on the Exasol side the waiting JDBC subconnection timeout reaches and it closes the connection. Please keep in min

[2020-09-23 06:18] morazow commented on #74
Hello @AlessioMagitteri,

Since we resolved the issue from the Support channel, I am going to close this ticket.

Thanks again for your feedback and collaboration! Please let us know if there are any other issues.

[2020-09-23 06:18] #74 closed

[2020-09-23 07:18] 3cham opened #76 "Enable more jdbc properties in connection definition"
User should have more flexibility while specifying the connection to exasol, in case other options for jdbc connection are needed.

| Option | Value |
| - | - |
| spark.exasol.jdbc_options | debug=1;logdir=/tmp/my folder/;schema=sys |

[2020-09-24 07:43] #76 closed

[2020-09-25 13:25] morazow opened #78 "Update Exasol JDBC version to 7.0.0"
## Acceptance Criteria

- Updated the changed sub connection API
- Unit and integration tests passed
- Backward compatibility checked

[2020-09-28 10:57] morazow opened #80 "Remove automatic release setup from Travis CI"
## Situation

At the moment, the `.travis.yml` is setup for automatic releasing of the artifacts to the Sonatype. However, we are not using that setup.

## Acceptance Criteria

- Removed unused settings from .travis.yml
- Added developer documentation for setting local GPG keys and Sonatype release steps

[2020-09-28 13:10] #78 closed

[2020-09-29 13:11] morazow opened #81 "Update user guide"
## Acceptance Criteria

- The user guide is updated with the latest changes

[2020-09-30 13:39] #81 closed

[2020-10-01 07:36] #80 closed

[2020-11-23 07:55] morazow opened #84 "Use sql-statement-builder"
Use SQL Statement Builder to generate the internal SQL queries.

[2020-11-30 09:51] morazow commented on #71
Hey all,

I am going to close this issue. Please open a new issue if there are still questions.

[2020-11-30 09:51] #71 closed

[2020-11-30 10:56] morazow commented on #61
Hello @MellD,

I am going to close this issue. Please open a new issue if there are more questions.

[2020-11-30 10:56] #61 closed

[2020-11-30 11:02] morazow commented on #14
Using SQL Statement Builder (#84) should help solve this issue.

[2020-12-01 11:02] morazow opened #85 "Document how to setup on Databricks cluster"
## Situation

The current user guide provides deployment steps for Spark cluster as `spark-submit` and for Spark application using artifact coordinates.

The Databricks cluster requires slightly different steps, it should be documented in the deployment guide.

## Acceptance Criteria

- Setup and configuration for Databricks cluster is provided

[2020-12-02 13:03] #85 closed

[2021-01-05 06:45] redcatbear commented on #40
@morazow: During board check I just saw that this ticket has both a feature and a refactoring label. Please split into two individual tickets.

[2021-01-11 05:53] morazow commented on #40
Good catch!
Since this mostly about improving the test setup, I have removed the feature label.

[2021-02-12 07:32] morazow commented on #55
This is not needed anymore. Current deployment setup covers most of the installation requirements (databricks, spark-submit, spark-shell, etc).

[2021-02-12 07:32] #55 closed

[2021-02-17 04:45] morazow commented on #40
Another acceptance criteria:

- Remove the manual docker network creation (review suggestion from #82)

[2021-02-18 13:04] #40 closed

[2021-03-03 07:46] morazow opened #89 "Add missing predicates"
These predicates are missing at the moment:

- `IS [NOT] NULL`
- `[NOT] IN`

This issue depends on the next release of [Exasol SQL Statement Builder (ESB)](https://github.com/exasol/sql-statement-builder) that includes https://github.com/exasol/sql-statement-builder/issues/104

[2021-03-03 12:09] morazow opened #90 "Use test-db-builder in tests"
### Situation

In some tests (e.g, [BaseTableQueryIT](https://github.com/exasol/spark-exasol-connector/blob/main/src/it/scala/com/exasol/spark/BaseTableQueryIT.scala#L10-L31)) we manually create tables using JDBC connection. We should use [Exasol Test DB Builder (TDDB)](https://github.com/exasol/test-db-builder-java) for creating database objects.

There is an issue with TDDB related to identity c

[2021-03-04 08:37] #14 closed

[2021-03-04 08:37] #39 closed

[2021-03-04 08:37] #84 closed

[2021-03-11 11:31] renardeinside opened #92 "Add package for Java 8"
I've met the following issue using connector v1.0.0 on the latest Databricks Runtimes (7.X, 8.X):
[code]
In a nutshell, this means that some dependencies were compiled with Java 11, while in Databricks Runtime we currently support only Java 8.

Would be great to have some extended version with Java 8 support.

[2021-03-11 12:59] morazow commented on #92
Hello @renardeinside,

Thanks for the feedback!

Yes, indeed we compile the connector and Exasol Java libraries with Java 11. We are going to look into it, if we can backport this particular library into Java 8.

Do you know if there are any plans moving to Java 9+ both Spark and Databricks Runtimes soon?

[2021-03-11 13:43] renardeinside commented on #92
Unfortunately, I don't have any particular information on this topic.

What I definitely know is that most used Runtimes with Spark 3.X are on Java 8 (DBR 7.X / DBR 8.X) - that's why I asked for this :)

[2021-04-06 07:18] redcatbear commented on #92
Oracle Java 8 is already down to premium support (read: payed support): https://www.oracle.com/java/technologies/java-se-support-roadmap.html

OpenJDK will receive security updates until end of 2025 according to: https://endoflife.date/java

If we support Java 8, we need to provide this as a variant on a second release branch with separate releases, which means double effort. Falling back to Java

[2021-05-17 08:15] redcatbear commented on #92
Decision from Product Management: we will support Databricks.

That means we need to start the parallel release branch for Java 8.

[2021-06-04 10:38] #92 closed

[2021-06-04 16:09] morazow commented on #92
Hello @renardeinside,

We added support for Java 8 in the latest release. Could you please give it a try?

[2021-06-14 07:53] morazow opened #94 "Add notice about Spark streaming"
Acceptance Criteria

- Added remark that Spark streaming not supported yet

[2021-06-30 09:10] morazow opened #95 "Update connection manager to use sql statement builder"
## Situation

There are some JDBC SQL statement that use plain strings. We should change them to use sql-statement builder.

## Acceptance Criteria

- Connection manager class is refactored
- String based sql queries are removed
- Tests pass

[2021-09-01 11:37] morazow opened #96 "Add unified error handling"
## Acceptance Criteria

 - Error messages are unified with code names

[2021-09-03 11:30] #96 closed

[2021-09-03 11:30] #94 closed

[2021-09-03 11:33] morazow opened #98 "Fix code smells"
## Situation

Sonar analysis found some code smells. They should be fixed.

## Acceptance Criteria

- Found code smells are fixed

[2021-10-21 14:47] akifcakir opened #99 "Spark Save Modes , "overwrite" always drops table although "truncate" is true."
Hi Dear Team,

I am trying to import data from databricks to Exasol DB.

I am using following code in below,
dfw.write \
    .format("jdbc") \
    .option("driver", exa_driver) \
    .option("url", exa_url) \
    .option("dbtable", "table") \
    .option("user", username) \
    .option("password", exa_password) \
    .option("truncate", "true") \
    .option("numPartitions", "1") \
    .option("fe

[2021-11-08 08:28] morazow commented on #99
Hello @akifcakir,

Sorry for the late reply, we missed your question.

Please be aware that the `spark-exasol-connector` works different than the Spark regular JDBC dialect. At the moment, [there is no Exasol dialect in the Spark](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/jdbc/JdbcDialects.scala#L416-L423), so it will use the generic dialect options.

[2021-11-08 14:25] sameh-sharaf opened #100 "java.sql.SQLException: Cannot handle data type: 2005"
Hi,

We are using `spark-exasol-connector` to import our processed data from Databricks to Exasol. We are facing an issue when importing columns of type `string` in Databricks with values `NULL` with the error `java.sql.SQLException: Cannot handle data type: 2005`.

Exasol target table uses `VARCHAR2`.

Our Databricks cluster uses `com.exasol:spark-connector_2.12:1.1.0` and `com.exasol:exasol-jdbc

[2021-11-10 09:16] morazow commented on #100
Hello @sameh-sharaf,

Thanks for the feedback!

Could you please share more of the exception stack trace if possible?

One thing you could do is to convert `null` values to empty strings before saving to Exasol. Exasol stores them as empty strings.

[code]

Do you also put size to the column, `VARCHAR2(n)`? Where `n` is expected maximum length.

[2021-11-10 14:48] sameh-sharaf commented on #100
Hi @morazow

Thank you for getting back.

Actually, we currently use empty strings instead of `null` values to workaround this issue. We do specify `VARCHAR2` length (`VARCHAR2(n)`) when defining our schemas.

Here is the full exception returned:

[code]
Here is a code sample which reproduces the error:
[code]

We currently updated `exasol-jdbc` to `7.1.2` for testing. Therefore, we used the optio

[2021-11-11 09:01] morazow commented on #100
Hello @sameh-sharaf,

That is a valid solution for this issue.

The issue happens because `NULL` values in the Spark dataframe are transferred as `CLOB` data type via JDBC which causes an unsupported data type error.

Another option is to replace `null` values with empty strings just before writing to Exasol (as mentioned above) with `df.na.fill("").write.format....`.

[2021-11-11 12:52] sameh-sharaf commented on #100
Hi @morazow

Thank you for your feedback. Looks like we'll stick to the workaround for now.

[2021-11-12 10:03] morazow commented on #100
Hello @sameh-sharaf,

Thanks for the feedback! We are going to close the ticket for now. Please let us know if there are any issues.

[2021-11-12 10:03] #100 closed

[2021-11-24 07:17] morazow commented on #99
Hello @akifcakir,

I am going to close the ticket for now. Please let us know if you have more questions.

[2021-11-24 07:17] #99 closed

[2021-12-03 08:57] morazow opened #101 "Migrate to maven based build"

[2021-12-07 11:54] morazow opened #103 "Add fingerprint option"
### Situation

In the [newer versions of Exasol](https://community.exasol.com/t5/product-news/exasol-7-1-connection-security-changes/ba-p/6831), the security around connections is improved by verifying TLS certificates by default.

In general users still can disable this check, though not recommended. We should provide setting fingerprint option to the default JDBC and subconnections.

### Accepta

[2021-12-08 08:29] #75 closed

[2021-12-08 08:29] #101 closed

[2021-12-08 10:07] morazow opened #104 "Fix artifact name"
To be compatible with previously released artifacts names, rename it to `com.exasol:spark-connector`.

[2021-12-10 10:14] #98 closed

[2021-12-10 10:14] #104 closed

[2021-12-13 10:51] kaklakariada opened #106 "Update log4j to fix CVE-2021-44228"
This project uses log4j versions potentially affected by [CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228):

[code]

Dependency tree:

[code]

[2021-12-14 09:47] #103 closed

[2021-12-14 09:48] morazow commented on #106
Fixed in #107

[2021-12-14 09:48] #106 closed

[2021-12-14 09:49] morazow commented on #54
Fixed in #107

[2021-12-14 09:49] #54 closed

[2021-12-16 11:12] morazow opened #108 "Remove custom loader class in tests"

[2021-12-16 13:49] #108 closed

[2021-12-20 06:36] morazow opened #111 "Fix issues with releasing cross versions of Scala and Spark using maven"
### Situation

We would like to release different versions of the connector for recent Spark versions. For example, Spark 3.2 with Scala 2.13, Spark 3.2 with Scala 2.12 and Spark 3.1 with Scala 2.12 versions.

However, it is not very easy using maven. There are several issue:

- Correctly setting artifactId and version, for instance, `com.exasol:spark-connector_2.13:1.2.0-spark-3.2.0`
- Rewriting

[2021-12-20 07:09] morazow opened #112 "Update log4j to 2.17.0 version"

[2021-12-20 08:12] #112 closed

[2022-03-08 09:29] redcatbear commented on #65
PM decision: shelved.

[2022-07-24 08:47] jpizagno opened #117 "Maven Package Fails"
While running `mvn clean ; mvn package -DskipTests=true`  I get the error message at the end of this description.

Here is more information:
- OS: Ubuntu 20
- `java -version` -> `openjdk version "1.8.0_312"`
- `scala -version` -> `Scala code runner version 3.1.3`
- `mvn -version `-> `Apache Maven 3.6.3`
- `git log` -> `commit ed0e0344df881091ca5659c42a0cdb92b3b8c70f ;  Date:   Wed May 11 14:12:34

[2022-07-24 09:04] jpizagno commented on #117
@morazow  Is this just an incompatible version of scala ?

[2022-07-25 07:10] morazow commented on #117
Hello @jpizagno,

Thanks for the feedback!

I am going to check it soon. Yes, you might be right that is related to Scala versions of compiler plugins.

[2022-07-29 07:39] ckunki opened #118 "Fix vulnerabilities and broken links reported by build actions"
### 9 vulnerabilities  reported for Building with Spark3.2 and Scala 2.12 and Exasol 7.1.10

* [com.squareup.okhttp:okhttp:jar:2.7.5](https://ossindex.sonatype.org/component/pkg:maven/com.squareup.okhttp/okhttp@2.7.5?utm_source=ossindex-client&utm_medium=integration&utm_content=1.8.1)
    * CVE-2021-0341, severity CWE-295: Improper Certificate Validation (7.5)
    * [sonatype-2018-0035](https://os

[2022-08-02 08:43] morazow commented on #117
Hey @jpizagno,
I think the issue is with shade plugin. Somehow, it cannot pickup property values for inner plugin dependencies by default.

[code]
So far, I could not understand why they are not picked up by default activation profile.

However, explicitly setting the profile value works fine:

[code]

**Note:** At this moment you may get the audit error, you can skip them using `ossindex.skip`:
[

[2022-08-03 17:23] #118 closed

[2022-08-04 10:13] morazow commented on #117
Hey @jpizagno,
Can we close this issue?

Thanks and best

[2022-08-05 11:05] morazow commented on #117
Hi @jpizagno,
We are going to close this ticket for now. Please let us know if there are more issues.

[2022-08-05 11:05] #117 closed

[2022-08-07 18:36] jpizagno commented on #117
Hey @morazow Sorry for the late reply. (I was on vacation.)

Confirmed.  If I use the latest master and java 11, then `mvn clean; mvn package -DskipTests=true -Pspark3.2` successfully builds a Jar file in target.

thanks

[2022-09-27 08:01] kaklakariada opened #121 "Dependency check build fails"
[code]

[2022-09-27 12:13] #121 closed

[2022-10-25 03:52] redcatbear opened #125 "Update dependencies on 1.2.2"
## Situation

In the dependencies of version 1.2.2 a couple of vulnerabilities were found. Release 1.2.3 should update the dependencies where fixes are available and investigate the risks where no updates are available.

[2022-10-25 11:05] #125 closed